<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
                <h1>col 1</h1>
        </div>

        <div class="col-md-8">
            <!-- place to print calendar and error messages-->
            <error id="error"></error>
            <h2 id="heading"></h2>
            <calendar id="calendar"></calendar>
        </div>
    </div>
</div>

<script src="/javascripts/Calendar.js"></script>
<script>

    $(document).ready(function(){
        let calendar = new Calendar();
    });
</script>
