
html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(rgb(61,152,202),rgb(128,195,215),rgb(158,204,219));
}

a {
  color: #00B7FF;
}

    /* will make all text from error tag red */
    error {color: red;}
    /* will have same width for all divs so that calendar aligns properly */
    calendar > div {float:left; width:80px;}
    /* this will allow div tag to move to next line (no floating to left) */
    .end{clear:both;}
